<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Visualization</title>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="plot"></div>
 
    <script>
        // Embed Plotly graph
        var plot = "{{ plot | safe }}";  // safe filter to render HTML content
        var plotDiv = document.getElementById('plot');
        Plotly.newPlot(plotDiv, plot);
    </script>
</body>
</html>